<!DOCTYPE html>
{% load staticfiles %}
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Visie Jonge Democraten{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://jongedemocraten.nl/templates/jd/css/template.css">
    <link rel="stylesheet" type="text/css" href="{% static 'moties/css/paginator.css' %}">
    <script src="{% static 'moties/js/jquery-1.9.1.min.js' %}"></script>
    <style>
      .container { width: 605px; margin: 30px auto; }
      .pol_motie { background: #ebebeb; padding: 10px; font-size: 12px; line-height: 16px; }

      .pol_tags { width: 150px; font-size: 12px; }

      fieldset textarea { margin-bottom: 3px; }
      fieldset button { margin-left: 150px; }
      h1 { line-height: 1em; }

    </style>
{% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div id="homeDiv">
      {% block logo %}<a href="https://www.jongedemocraten.nl" target="_blank"><img src="{% static 'moties/images/JD-Logo.png' %}" border="0" /></a>{% endblock %}
      <p style="color:red">Let op: deze site is in <strong>b&egrave;ta</strong>!</p>
      {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
