<!DOCTYPE html>
{% load staticfiles %}
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}JD Politiek{% endblock %}</title>
    <link rel="stylesheet" href="http://jongedemocraten.nl/templates/jd/css/template.css">
    <link rel="stylesheet" href="{% static 'moties/css/paginator.css' %}">
    <style>
      .container { width: 605px; margin: 30px auto; }
      .pol_motie { background: #ebebeb; padding: 10px; font-size: 12px; line-height: 16px; }
      h1 { line-height: 1em; }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="homeDiv">
      {% block logo %}<img src="{% static 'moties/images/JD-Logo.png' %}" border="0" />{% endblock %}
      {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
