{% extends 'moties/base.html' %}
{% load moties_extra %}
{% block content %}
{% block list-header %}<h1><a href="{% url 'moties:motie-list' %}">Alle moties</a></h1>{% endblock %}

<p><strong>Sorteer</strong> op <a href="{{ base_url }}?order=congres">congresdatum</a> of <a href="{{ base_url }}?order=titel">titel</a>.</p>

<ul>
  {% for motie in moties %}
  <li>
  {{ motie.congres.kort }} - <a href="{{ motie.get_absolute_url }}">{{ motie.titel }}</a>
  {{ motie|motie_status_list }}
  {% if request.user.is_authenticated %} 
    {% if motie.comments.count %} ({{motie.comments.count}} comments) {% endif %} 
    <a href="{% url 'admin:moties_motie_change' motie.pk %}">(wijzigen)</a>
  {% endif %}
  </li>
  {% endfor %}
  </ul>

{% load digg_paginator %}
{% digg_paginator base_url %}

{% block links-bottom %}
  <p>
    <strong>&raquo; <a href="{% url 'moties:tag-list' %}">Bekijk alle tags</a></strong><br />
    <strong>&raquo; <a href="{% url 'moties:home' %}">Ga terug naar de politieke site</a></strong>
  </p>
{% endblock %}

{% endblock %}
