{% extends 'moties/base.html' %}
{# JS code for hide/show #}
{% block head %}
<style>
      #show_hide_comments { background-color: #578439; background-image: url('https://jongedemocraten.nl/templates/jd/images/TitleBackground.png'); background-repeat: repeat-x; color: white; font-size: 14px; line-height: 20px; font-weight: bold; display: inline; padding: 2px 10px 2px 10px; margin: 0; vertical-align: middle; }
      #show_hide_comments { cursor: pointer; }
</style>
<script>
$(function(){
  $('#show_hide_comments').click(function() {
    $('#comment_form_div').toggle();
  });
});
</script>
{% endblock %}

{# Page specific title #}
{% block title %}{{ motie.titel }} - Visie Jonge Democraten{% endblock %}

{# Content #}
{% block content %} 
   <h1><a href="{{ motie.get_absolute_url }}">{{ motie.titel }}</a>
  {% if request.user.is_authenticated %} 
    <a href="{% url 'admin:moties_motie_change' motie.pk %}">(wijzigen)</a>
  {% endif %}</h1><h2>({{status|safe}})</h2>
   <p>
     <strong>Tags:</strong> 
{% for tag in tags %}
<a href="{% url 'moties:tag' tag.kort %}">{{tag.kort}}</a> ({{ tag.num_moties }}){% if not forloop.last %}, {% else %}.{% endif %}
{% endfor %}
   </p>
   <div class="pol_motie">{{ content|safe }}</div>
{% with rel=motie.related.all %}
{% if rel %}
    <p>
     <strong>Gerelateerde moties:</strong>
<ul>
{% for r in rel %}
<li><a href="{{ r.get_absolute_url }}">{{ r.titel }}</a></li>
{% endfor %}
</ul>
    </p>
{% endif %}
{% endwith %}

{# COMMENT FORM #}

<div>&nbsp;</div>
<h3 id="show_hide_comments">Feedback</h3>
<div id="comment_form_div" style="display: none;">
<form action="{{ motie.get_absolute_url }}" method="post">{% csrf_token %}
<fieldset>
<div><p>Als er iets niet klopt aan de motie (bijvoorbeeld als er een tag ontbreekt), laat dit dan weten aan de beheerder!</p></div>
{{ comment_form.non_field_errors }}
<div>
{{ comment_form.author.errors }}
{{ comment_form.author.label_tag }} 
{{ comment_form.author }}
</div>
<div>
{{ comment_form.email.errors }}
{{ comment_form.email.label_tag }}
{{ comment_form.email }}
</div>
<div>
{{ comment_form.controleveld.errors }}
{{ comment_form.controleveld.label_tag }}
{{ comment_form.controleveld }}
</div>
<div>
{{ comment_form.tekst.errors }}
{{ comment_form.tekst.label_tag }}
{{ comment_form.tekst }}
</div>
<button class="button" type="submit">Verzenden</button>
{% with comments=motie.comments.all %}
{% if comments %}
<div><p><strong>Openstaande opmerkingen:</strong></p></div>
{% for comment in comments %}
<div><p>{{ comment.tekst }}</p></div>
{% endfor %}
{% endif %}
{% endwith %}
</fieldset>
</form>
</div>

   <p>
{% if has_notulen %}
     <strong>&raquo; <a href="{{ motie.congres.notulen }}">Ga naar de notulen</a></strong><br />
{% endif %}
     <strong>&raquo; <a href="{% url 'moties:motie-list' %}">Bekijk alle moties</a></strong><br />
     <strong>&raquo; <a href="{% url 'moties:tag-list' %}">Bekijk alle tags</a></strong><br />
     <strong>&raquo; <a href="{% url 'moties:home' %}">Ga terug naar de politieke site</a></strong>
   </p>
{% endblock %}
