{% extends 'moties/base.html' %}
{% block title %}{{ motie.titel }} - Visie Jonge Democraten{% endblock %}
{% block content %} 
   <h1><a href="{{ motie.get_absolute_url }}">{{ motie.titel }}</a>
  {% if request.user.is_authenticated %} 
    <a href="{% url 'admin:moties_motie_change' motie.pk %}">(wijzigen)</a>
  {% endif %}</h1><h2>({{status|safe}})</h2>
   <p>
     <strong>Tags:</strong> 
{% for tag in tags %}
<a href="{% url 'moties:tag' tag.kort %}">{{tag.kort}}</a> ({{ tag.num_moties }}){% if not forloop.last %}, {% else %}.{% endif %}
{% endfor %}
   </p>
   <div class="pol_motie">{{ content|safe }}</div>

{# COMMENT FORM #}

<p>
<form action="{{ motie.get_absolute_url }}" method="post">{% csrf_token %}
<fieldset>
<div><p>Als er iets niet klopt aan de motie (bijvoorbeeld als er een tag ontbreekt), laat dit dan weten aan de beheerder!</p></div>
{{ comment_form.non_field_errors }}
<div>
{{ comment_form.author.errors }}
{{ comment_form.author.label_tag }} 
{{ comment_form.author }}
</div>
<div>
{{ comment_form.email.errors }}
{{ comment_form.email.label_tag }}
{{ comment_form.email }}
</div>
<div>
{{ comment_form.controleveld.errors }}
{{ comment_form.controleveld.label_tag }}
{{ comment_form.controleveld }}
</div>
<div>
{{ comment_form.tekst.errors }}
{{ comment_form.tekst.label_tag }}
{{ comment_form.tekst }}
</div>
<button class="button" type="submit">Verzenden</button>
{% if has_comments %}
<div><p><strong>Openstaande opmerkingen:</strong></p></div>
{% for comment in motie.comments.all %}
<div><p>{{ comment.tekst }}</p></div>
{% endfor %}
{% endif %}
</fieldset>
</form>
</p>



   <p>
{% if has_notulen %}
     <strong>&raquo; <a href="{{ motie.congres.notulen }}">Ga naar de notulen</a></strong><br />
{% endif %}
     <strong>&raquo; <a href="{% url 'moties:motie-list' %}">Bekijk alle moties</a></strong><br />
     <strong>&raquo; <a href="{% url 'moties:tag-list' %}">Bekijk alle tags</a></strong><br />
     <strong>&raquo; <a href="{% url 'moties:home' %}">Ga terug naar de politieke site</a></strong>
   </p>
{% endblock %}
