{% extends 'moties/base.html' %}
{% load moties_extra %}

{% block head %}
<style>
    .level-1 {
        font-style: italic
    }
</style>
{% endblock %}

{# Page specific title #}
{% block title %}Politiek Programma van de Jonge Democraten{% endblock %}

{# Content #}
{% block content %} 
{% for h in programma.hoofdstukken_iter %}
<div class='hoofdstuk_link'>{% hoofdstuk_link h 'moties:default_programma'%}</div>
{% endfor %}
<p>&nbsp;</p>
{% render_programma programma %}
{% endblock %}
